{{#if prompt}}
  <option class="{{promptClassNames}}" value="" selected={{eq null selectedOption}}>
    {{prompt}}
  </option>
{{/if}}

{{#each content key="@index" as |option|}}

  <option
    class={{optionClassNames}}
    value={{get option optionValueKey}}
    disabled={{get option disabledKey}}
    selected={{eq option selectedOption}}>

    {{get option optionLabelKey}}

  </option>
{{/each}}
