{{#user-navbar
  class="g-bg-theme-primary-1--700 g-border-bottom-s1 u-b-box u-z2"
  size="small"
  useBoxShadow=false
  as |navbar|
}}

  {{#if (eq navbar 'navContent')}}
    <h4 class="g-nearWhite o-grid-cell--auto-size u-ml2 u-mr2">{{notebook.title}}</h4>
  {{/if}}

  {{#if (eq navbar 'navItems')}}

    <ul class="o-grid-cell
               o-flex-grid
               o-flex-grid--flexStart
               o-flex-grid--auto
               o-flex-grid--noWrap
               o-flex-grid--center
               g-list-reset
               u-fill-height
               c-notebooks-notebook-page__route-tabs">
      {{#each navLinks as |navLink index|}}
        {{#indicator-tab
          class="o-grid-cell
                 o-flex-grid
                 o-flex-grid--center
                 u-align-middle
                 u-fill-height
                 c-notebooks-notebook-page__route-tab"
           isActive=(eq index activeLinkIndex)
        }}
          {{#link-to navLink.routeName notebook class="g-link-reset o-grid-cell u-pl2 u-pr2"}}{{capitalize navLink.title}}{{/link-to}}
        {{/indicator-tab}}
      {{/each}}
    </ul>

  {{/if}}

{{/user-navbar}}

{{outlet 'experimentalNotebookRouteOutlet'}}

<div class="o-navbar-page--header-sm u-relative u-fill-width u-fill-height u-z1">

  {{!-- {{outlet 'notebookOulet'}} --}}
  {{!-- TODO: Fix height of liquid-child that gets placed in here --}}
  {{liquid-outlet class="u-fill-width u-fill-height u-relative"}}
</div>
