<section class="c-register-page__form-section u-relative u-transform-center">

  <header>
    <h2 class="g-theme-primary-1--500 u-align-center">Registration</h2>
  </header>

  {{#object-form
    class="u-m0
           u-overflow-hide
           u-b-box
           o-flex-grid
           o-flex-grid--full"
    onSubmit=(action 'registerUser')
    startingValues=formValues
    readFormValuesOnChange=(action 'readFormValuesOnChange')
    as |userForm|
  }}

    <section class="u-fill-width u-mb3">

      <!-- ******** Email ******** -->
      {{#object-form/field
        class="c-ripple-form-field
               u-m2
               o-flex-grid
               o-flex-grid--full"
        value=userForm.email
        for="email" as |field|
      }}

        <label
          class="c-form__field-label
                 c-ripple-form-field__label
                 o-grid-cell
                 g-font-700
                 g-inherit"
               for={{field.fieldId}}>
          Email
        </label>

        {{input
          class="c-form-field-input
                 c-form-field-input--dark-background
                 c-ripple-form-field__content
                 o-grid-cell
                 g-font-larger
                 g-border-s1"
          id=field.fieldId
          type="email"
          value=field.value
          data-test-selector="register-page__email-input"
        }}

        <div class="c-ripple-form-field__underline"></div>

        {{#if field.fieldErrors}}
          <div class="c-form__field-errors">
            {{#each field.fieldErrors as |error|}}
              <div class="c-form__field-error">
                Error: error.message
              </div>
            {{/each}}
          </div>
        {{/if}}

      {{/object-form/field}}


      <!-- ******** Username ******** -->
      {{#object-form/field
        class="c-ripple-form-field
               u-m2
               o-flex-grid
               o-flex-grid--full"
        value=userForm.username
        for="username" as |field|
      }}

        <label
          class="c-form__field-label
                 c-ripple-form-field__label
                 o-grid-cell
                 g-font-700
                 g-inherit"
               for={{field.fieldId}}>
          Username
        </label>

        {{input
          class="c-form-field-input
                 c-form-field-input--dark-background
                 c-ripple-form-field__content
                 o-grid-cell
                 g-font-larger
                 g-border-s1"
          id=field.fieldId
          type="text"
          value=field.value
          data-test-selector="register-page__username-input"
        }}

        <div class="c-ripple-form-field__underline"></div>

        {{#if field.fieldErrors}}
          <div class="c-form__field-errors">
            {{#each field.fieldErrors as |error|}}
              <div class="c-form__field-error">
                Error: error.message
              </div>
            {{/each}}
          </div>
        {{/if}}

      {{/object-form/field}}

      <!-- ******** Password ******** -->
      {{#object-form/field
        class="c-ripple-form-field
               o-flex-grid
               o-flex-grid--full
               u-m2"
        value=userForm.password
        for="password" as |field|
      }}

        <label
          class="c-form__field-label
                 c-ripple-form-field__label
                 o-grid-cell
                 g-font-700
                 g-inherit"
          for={{field.fieldId}}>
          Password
        </label>

        {{input
          class="c-form-field-input
                 c-ripple-form-field__content
                 o-grid-cell
                 g-font-larger
                 g-border-s1"
          id=field.fieldId
          type="password"
          value=field.value
          data-test-selector="register-page__password-input"
        }}

        <div class="c-ripple-form-field__underline"></div>

      {{/object-form/field}}


      <!-- ******** Confirm Password ******** -->
      {{#object-form/field
        class="c-ripple-form-field
               o-flex-grid
               o-flex-grid--full
               u-m2"
        value=userForm.passwordConfirmation
        for="passwordConfirmation" as |field|
      }}

        <label
          class="c-form__field-label
                 c-ripple-form-field__label
                 o-grid-cell
                 g-font-700
                 g-inherit"
          for={{field.fieldId}}>
          Confirm Password
        </label>

        {{input
          class="c-form-field-input
                 c-ripple-form-field__content
                 o-grid-cell
                 g-font-larger
                 g-border-s1"
          id=field.fieldId
          type="password"
          value=field.value
          data-test-selector="register-page__confirm-password-input"
        }}

        <div class="c-ripple-form-field__underline"></div>

      {{/object-form/field}}

    </section>



    <section class="u-fill-width o-grid-cell">

      {{#x-button
        class="c-button--primary-1-500
               g-nearWhite
               u-block"
        type="submit"
        disabled=isProcessingRegistration
        data-test-selector="register-page__register-form-submit"
      }}
        {{#if isProcessingRegistration}}
          Creating account...
        {{else}}
          SUBMIT
        {{/if}}
      {{/x-button}}

      {{#if newUserModel.errors}}
        <h6 class="g-red-300">The following errors occurred</h6>

        <ul class="g-list-reset g-red-300">
          {{#each model.errors as |error|}}
            <li>{{error.title}}</li>
          {{/each}}
        </ul>

      {{/if}}

    </section>

  {{/object-form}}

</section>
