<section class="c-register-page__form-section u-relative u-transform-center">

  <header>
    <h2 class="g-theme-primary-1--500 u-align-center">Registration</h2>
  </header>


  {{#if showAlert}}
    {{#alert-box class="g-bg-status--error u-mt3 u-mb3" isOpen=showAlert}}
      Please address the errors listed below before submitting the form.
    {{/alert-box}}
  {{/if}}

  {{#x-form class="o-flex-grid o-flex-grid--full" submit=(action 'registerUser')}}

    <section class="u-fill-width u-mb3">


      <!-- ******** Email ******** -->
        {{validated-form-field
          model=newUserPrivateInfoModel
          valuePath="email"
          label="Email"
          placeholder="youremail@example.com"
          class="c-ripple-form-field
                 u-m2
                 o-flex-grid
                 o-flex-grid--full"
        }}

      <!-- ******** Username ******** -->
      {{validated-form-field
        model=newUserModel
        valuePath="username"
        label="Username"
        placeholder="Enter your username"
        class="c-ripple-form-field
               u-m2
               o-flex-grid
               o-flex-grid--full"
      }}


      <!-- ******** Password ******** -->
      {{validated-form-field
        model=newUserModel
        valuePath="password"
        label="Password"
        placeholder="Create your password"
        class="c-ripple-form-field
               u-m2
               o-flex-grid
               o-flex-grid--full"
      }}


      <!-- ******** Confirm Password ******** -->
      {{validated-form-field
        model=newUserModel
        valuePath="passwordConfirmation"
        label="Confirm Password"
        placeholder="Re-enter your password"
        class="c-ripple-form-field
               u-m2
               o-flex-grid
               o-flex-grid--full"
      }}

    </section>



    <section class="u-fill-width o-grid-cell">

      {{#x-button
        class="c-button--primary-1-500
               g-nearWhite
               u-block"
        type="submit"
        disabled=isProcessingRegistration
        data-test-selector="register-page__register-form-submit"
      }}
        {{#if isProcessingRegistration}}
          Creating account...
        {{else}}
          SUBMIT
        {{/if}}
      {{/x-button}}

      {{#if newUserModel.errors}}
        <h6 class="g-red-300">The following errors occurred</h6>

        <ul class="g-list-reset g-red-300">
          {{#each model.errors as |error|}}
            <li>{{error.title}}</li>
          {{/each}}
        </ul>

      {{/if}}

    </section>

  {{/x-form}}

  {{!-- {{/object-form}} --}}

</section>
