<section class="c-register-page__form-section u-relative u-transform-center">

  <header>
    <h2 class="g-theme-primary-1--500 u-align-center">Registration</h2>
  </header>


  {{#if showAlert}}
    {{#alert-box
      class="c-register-page__alert-box g-status--error g-bg-status--error g-border-s2 u-mt3 u-mb3"
      isOpen=showAlert
    }}
      <span class="g-nearBlack">Please address the errors listed below before submitting the form.</span>
    {{/alert-box}}
  {{/if}}

  {{#x-form class="o-flex-grid o-flex-grid--full" submit=(action 'registerUser')}}
    <section class="u-fill-width u-mb3">


      <!-- ******** Email ******** -->
      {{!-- {{validated-form-field
        class="u-m2
               o-flex-grid
               o-flex-grid--full"
        inputClassNames="c-form-field__text-input c-material-text-input"
        model=newUserPrivateInfoModel
        valuePath="email"
        label="Email"
        fieldType="email"
        placeholder="youremail@example.com"
      }} --}}
      {{material-validated-form-field
        class="u-m2"
        materialInputClassNames="u-fill-width"
        model=newUserPrivateInfoModel
        valuePath="email"
        label="Email"
        fieldType="email"
        placeholder="youremail@example.com"
      }}

      <!-- ******** Username ******** -->
      {{validated-form-field
        class="u-m2"
        inputClassNames="c-form-field__text-input c-material-text-input"
        model=newUserModel
        valuePath="username"
        label="Username"
        fieldType="text"
        placeholder="Enter your username"
      }}


      <!-- ******** Password ******** -->
      {{validated-form-field
        class="u-m2"
        inputClassNames="c-form-field__text-input c-material-text-input"
        model=newUserModel
        valuePath="password"
        label="Password"
        fieldType="password"
        placeholder="Create your password"
      }}


      <!-- ******** Confirm Password ******** -->
      {{validated-form-field
        class="u-m2"
        inputClassNames="c-form-field__text-input"
        model=newUserModel
        valuePath="passwordConfirmation"
        label="Confirm Password"
        fieldType="password"
        placeholder="Re-enter your password"
      }}

    </section>



    <section class="u-fill-width o-grid-cell">

      {{#x-button
        class="c-button--primary-1-500
               g-nearWhite
               u-block"
        type="submit"
        disabled=isProcessingRegistration
        data-test-selector="register-page__register-form-submit"
      }}
        {{#if isProcessingRegistration}}
          Creating account...
        {{else}}
          SUBMIT
        {{/if}}
      {{/x-button}}

      {{#if newUserModel.errors}}
        <h6 class="g-red-300">The following errors occurred</h6>

        <ul class="g-list-reset g-red-300">
          {{#each model.errors as |error|}}
            <li>{{error.title}}</li>
          {{/each}}
        </ul>

      {{/if}}

    </section>

  {{/x-form}}

  {{!-- {{/object-form}} --}}

</section>
