{{#if hasBlock}}
  {{yield}}
{{else}}
  <label for={{fieldId}} class={{labelClassNames}}>{{label}}</label>
  {{input
    class=(concat inputClassNames " " "c-validated-form-field__input u-relative")
    classNameBindings="showErrorClass:has-error isValid"
    id=fieldId
    name=valuePath
    type=fieldType
    value=value
    placeholder=placeholder
    data-test-selector=testSelector
  }}

  <span class="c-validated-form-field__status-icon
               u-absolute
               u-width-spacing-4
               u-height-spacing-4
               u-edge-right
               u-edge-top
               u-transform-center--vert
               u-mr4
               u-block">
    <span class="u-relative g-status__valid">
      {{#if isValid}}
        {{svg-icon iconURL="/assets/icons.svg#checkmark" stroke="currentColor" fill="none" class="c-validated-form__icon c-validated-form__icon--success"}}
      {{/if}}
    </span>
  </span>
{{/if}}
